*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}
.calculator {
    border: 1px solid #717377;
    background: transparent;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 3px 15px rgba(113, 115, 119, 0.9);
    cursor: default;
}
input{
    background: transparent;
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    text-align: right;
    font-size: 40px;
    box-shadow: 0 3px 15px rgba(113, 115, 119, 0.9);
    cursor: pointer;
    color: #ffffff;
}
input::placeholder{
    color: #ffffff;
}
button{
    color: #ffffff;
    background: transparent;
    width: 60px;
    height: 60px;
    border: none;
    margin: 10px;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
    cursor: pointer;
}
.equalbtn{
    background-color: #fb7c14;
}
.operator {
    color: #6dee0a;
}